{% extends "layout.html" %}

{% block title %}
select payment
{% endblock  %}

{% block content %}
    <h2 class="text-center mt-5 fs-4">Select Payment Method</h2>

    <div class="h-50 w-50  d-flex flex-column justify-content-center align-items-center mt-5 p-5 gap-2 rounded-3 shadow-lg">

        <div class="w-100 d-flex justify-content-center align-items-center gap-4">
            <a href="{% url 'stripe_payment' order.id %}" class="btn btn-outline-primary">Stripe</a>
           
        </div>
        <p class="mt-3"> <b>Total Amount:</b> {{ total_amount }} BDT</p>

    </div>
{% endblock  %}